
html, body {
   height: 100%;
   margin: 5px;
 }
 .grid {
   border: 0px solid #000;
   margin: 5px;
   min-height: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   flex-direction: row;
 }
 .grid > div {
   border: 2px solid #000;
   display: flex;
   margin: 5px; 
   flex-wrap: wrap;
   flex-basis: calc(25% - 20px);  
   justify-content: center;
   flex-direction: column;
 }
 .grid > div > div {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   flex-direction: row;
 }
 