
html,body {
   height: 100%;
   margin: 5px;
 }
 .grid {
   border: 0px solid #000;
   background-color: #76dd46;
   margin: 5px;
   min-height: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   flex-direction: row;
 }
 .grid > div {
   border: 2px solid #000;
   display: flex;
   background-color: #dda146;
   margin: 5px; 
   flex-wrap: wrap;
   flex-basis: calc(25% - 20px);  
   justify-content: center;
   flex-direction: column;
 }

 .grid>div:hover{background-color:red}

 .grid > div > div {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   flex-direction: row;
 }

 .trail { /* className for the trail elements */
    position: absolute;
    height: 6px; width: 6px;
    border-radius: 10px;
    background: teal;
  }